<%# if @owner %>
<%#= render 'owner-email' %>
<% #if @user %>
<%#= render 'user-email' %>




<h3>Hi <%= @user.first_name %>,</h3>

  <p>You have booked the following trip with ShareMyRide. Please find the confirmation details below:</p>

  <ul>
      <li>Terminal: <%= @trip.terminal %></li>
      <li>Meet Up Time: <%= @trip.time.strftime("%e %b %Y %H:%M:%S%p") %></li>
      <li>To: <%= @trip.destination %></li>
  </ul>

<p>Thank you for using ShareMyRide, we hope you have a safe and pleasant journey!</p>
<br>
<p>Cheers,</p>

<pre style="font-size: 14px;  font-family: 'sans-serif' ">
The ShareMyRide Team
www.sharemyride.tech
Contact us: admin@sharemyride.tech
</pre>

