.mate-card {
  width: 300px;
  margin: 0 auto;
  // position: relative;
  // left: 40px;
  border-top: 1px solid #A535CF;
  border-bottom: 1px solid #A535CF;
}

.card-meet {
  width: 300px;
  margin: 0 auto;
}


