// Specific CSS for your home-page
<<<<<<< HEAD
.box {
  position: relative;
  top: 200px;
=======
html {
  height: 100%;
}

body {
  background:#4A2450;
  background-image: linear-gradient(45deg, #D33F63 0%, rgba(162,52,213,0.15) 30%);
  // margin: auto;
  // width: auto;
  height:100vh  !important;

  // #overlay {
  //   background-image: radial-gradient(50% 103%, #D33F63 0%, rgba(162,52,213,0.00) 100%);
  // }
  h4 {
    color:white;
    font-size:17px;
  }

}
.valueprop {
  font-size: 40px;
  color:white;
  font-family: Helvetica-Bold;
  padding-bottom: 70px;
  margin-top: -70px;
}

.page-container {
<<<<<<< HEAD
  margin:90px;
>>>>>>> 1e1fb0c63216c79094db689ec10ccad6bd405644
=======
  margin:150px;
  display:flex;
}


#home-form {
  color: white;
  width: auto;

}

.home-btm {
margin-left: 30px;
margin-top: 15px;
>>>>>>> 28b60e1105c0fc48a29be8068dc551d09aca1bc0
}
