html, body {
  height: 100%;
}

body {
  color: white;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  max-height: auto;
  background:#4A2450;
  // background: rgba(211, 63, 99, 1);
  // background: -moz-linear-gradient(45deg, rgba(211, 63, 99, 1) 0%, rgba(162,52,213,0.15) 30%);
  // background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(211,63,99,1,1)), color-stop(30%, rgba(162,52,213,0.15)));
  // background: -webkit-linear-gradient(45deg, rgba(211, 63, 99, 1) 0%, rgba(162,52,213,0.15) 30
  //   %);
  // background: -o-linear-gradient(45deg, rgba(211, 63, 99, 1) 0%, rgba(162,52,213,0.15) 30
  //   %);
  // background: -ms-linear-gradient(45deg, rgba(211, 63, 99, 1) 0%, rgba(162,52,213,0.15) 30
  //   %);
  // background: linear-gradient(45deg, rgba(211, 63, 99, 1) 0%, rgba(162,52,213,0.15) 30
  //   %);
  background-image: linear-gradient(45deg, #D33F63 0%, rgba(162,52,213,0.15) 30%);
  // justify-content: center;
  // background-image: linear-gradient(45deg, rgba(211, 63, 99, 0.5) 0%, rgba(162,52,213,0.15) 70%);
}

  h4 {
  color:white;
  font-size:17px;
  }

input.form-control {
  color:white;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
}


.valueprop {
  font-size: 30px;
  color:white;
  font-family: Helvetica-Bold;
  padding-bottom: 18px;
  // margin-top: -70px;
}

.box {
  top: 100px;
}


#home-form {
  color: white;
  width: auto;
  font-size:13px;
  justify-content: center;
  ::placeholder {
    font-size:16px;
    // color: white;
  }
}

.home-btn {
// margin-left: 40px;
// position:relative;
//centers the button
width: 40%;
margin-left: 25%;
margin-right: 30%;
margin-top: 10px;
}

.form-control {
  // height: 32px;
  // // font-size: 16px;
  // margin-bottom: -5px;
  // background-color: rgba(255, 255, 255, 0.1);
  // border-color: #725175;
}









