h2 {
  margin-left: 10px;
}

// .container {
//   display: inline-flex;
//   flex-wrap: wrap;
//   justify-content: left;
//   align-content: space-around;
//   flex-direction: row;
// }

.card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.card:last-child {
  border-bottom: none;
}

.user-avatar {
  .user-login-icon-14{
    width:80px;
    height:80px;
    border-radius: 50%;
  }
}

.ride-info {
  // flex-grow: 1;
  // align-items: center;
  padding: 10px;
  color: white;
  p {
  font-size: 15px;
  // margin: 6px 0;
  }
}

.ride-footer {
  color: white;
  .ride-date{
    display:inline-block;
    padding-right: 5px;
  }
  .ride-sum{
    display:inline-block;
  }
}
