h2 {
  margin-left: 10px;
}

h4{
  margin-left:15px;
}

// .container {
//   display: inline-flex;
//   flex-wrap: wrap;
//   justify-content: left;
//   align-content: space-around;
//   flex-direction: row;
// }

.card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.card:last-child {
  border-bottom: none;
}

.user-avatar {
    width:60px;
    height:60px;
    border-radius: 50%;
}

.ride-info {
  // align-items: center;
  // padding: 20px;
  color: white;
  margin-left:20px;
  margin-top: 5px;
  margin-bottom: 10px;

 ul {
  list-style: none;
  padding-left: 0;
 }
}

.ride-footer {
  color: white;
  padding-bottom: 5px;
  margin-top: 15px;
  p {
    margin: 0;
    padding: 0;
}
  .ride-date{
    display:inline-block;
    padding-right: 5px;
  }
  .ride-sum{
    display:inline-block;
  }
}

#terminal{
  font-size:12px;
}

#destination{
  font-size:15px;
}

#ride-date{
 font-size:12px;
}

#ride-sum{
  font-size:12px;
}
