<div class="box">
  <div class="banner-content">
    <p>Destination Search</p>
      <div class="form-wrapper" style="width: 150px; margin: 0 auto;">
        <%= simple_form_for :query, url: search_results_path, method: "get"  do |t| %>
        <%= t.input :destination, label: "Where", as: :string, placeholder: "Anywhere" %>
        <%= t.button :submit, "Go", class: "search_button" %>
        <% end %>
      </div>
  </div>
</div>
