
<%#= simple_form_for @trips do |t| %>
<%#= t.input :city %>
<%#= t.input :airport %>
<%#= t.input :terminal %>
<%#= t.button :submit, "Go", class: "search_button" %>
<%# end  %>
<diV class="page-container" >

  <h1 class="valueprop">Find ride <br> mates and <br> share a trip</h1>
   <!--  <h1 class="valueprop">mates and</h1>
    <h1 class="valueprop">share a trip</h1> -->

    <h4>Let's find your ridemate</h4>


    <%= link_to "Destination Search", destination_search_path %><br>
    <br>
    <br>

    <div class="btn-full">
      Submit
    </div>
     <br>
     <br>
     <br>
     <br>
</div>

