/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 15px;
  text-align: center;
  color: white;
  width:90%;
  height:auto;
  font-size: 14px;
}
.alert-info {
  background: #AF37B8;
}
.alert-warning {
  background: #C03B8D;
}
