/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  width:85%;
}
.alert-info {
  background: #AF37B8;
}
.alert-warning {
  background: #C03B8D;
}
