//solid back ground button only used on home page
.btn-full {
  background: linear-gradient(45deg, #A234D5, #D74059);
  width: 105px;
  height: 37.5px;
  text-align: center;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
  display: inline-block;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.btn-full:hover {
    background: #BF3B91;
    color: white;
}

//transparent button used on all other pages
.btn-border {
  border-image: linear-gradient(45deg, #A234D5, #D74059);
  background:rgba(162, 52, 213, 0.2);
  border-image-radius: 3px;
  border-image-slice: 1;
  border-style: solid;
  border-width: 3px;
  width: 105px;
  height: 37.5px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding-top: 5px;
  display: inline-block;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.075);
}

// Button to create Trip
.circle-btn {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: linear-gradient(45deg, #A234D5, #D74059);
  position: relative;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  padding: 8px 8px 8px 8px;

}

.circle-btn .bar {
  margin: 0 auto;
  position: absolute;
  background-color: white;
  z-index: 2;

}

.circle-btn .horizontal {
  width: 70%;
  height: 10%;
  left: 15%;
  top: 45%;
  border-radius: 5px;
}

.circle-btn .vertical {
  width: 10%;
  height: 70%;
  left: 45%;
  top: 15%;
  border-radius: 5px;
}

#send-btn {
  border-radius: 50%;
  background: linear-gradient(45deg, #A234D5, #D74059);
  border: none;
  color: white;
}
